@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&family=Yeseva+One&display=swap');


.font-noto-sans {
  font-family: "Noto Sans TC", sans-serif;
}
.f-shrikhand{
    font-family: 'Shrikhand', cursive;
}
.font-saira {
  font-family: "Saira Extra Condensed", sans-serif;
}