<div class="banner-bg pt-144 pb-32 position-relative">
  <!-- 側邊背景 -->
  <div class="bg-intor-side position-absolute bottom-0 start-0"></div>
  <div class="container-fluid px-lg-80 text-white  position-relative">
    <!-- 上方文字-->
    <div class="row mb-lg-144">
      <div class="col-lg-3 ms-lg-auto">
        <p class="fs-6 border-top fw-bold">ALPHABOX+ STUDIO</p>
      </div>
    </div>
    <!-- 手機板圓 -->
    <img src="../assets/images/circle.png" alt="circle圖" class="home-banner-circle  d-block d-lg-none my-32 mx-auto">
    <!-- 手機板title -->
    <div class="col-12 col-lg-6 banner-title block d-lg-none mb-32">
      <h2 class="font-shrikhand text-center lh-base">ALPHABOX+</h2>
      <h3 class="fs-6 letter-spacing-16 text-center lh-base">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h3>
    </div>
    <!-- 桌面版圓 -->
    <div class="row justify-content-between mb-lg-56 position-relative">
      <div class="col-3 d-none d-lg-block">
        <p class="border-bottom fw-bold">最新消息！新版本 v15.4 釋出，搶先體驗！ </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/circle.png" alt="circle圖" class="home-banner-circle position-absolute bottom-0 start-50 translate-middle-x">
      </div>
      <div class="col-3 d-none d-lg-block text-gray">
        <p class="Copyright">Copyright © 2023 Hexschool.</p>
      </div>
    </div>

    <!-- 四張圖區 -->
    <div class="row position-relative justify-content-center">
      <div class="col-12 col-lg-6 position-absolute banner-title d-none d-lg-block">
        <h2 class="font-shrikhand text-center lh-base">ALPHABOX+</h2>
        <h3 class="fs-6 letter-spacing-16 text-center lh-base">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h3>
      </div>
      <div class="row align-items-end">
        <div class="col-lg-3 position-relative mb-16">
          <div class="bg-diane"></div>
          <p class="font-shrikhand fs-4 position-absolute top-0 start-50 translate-middle-x mt-16">Diane</p>
        </div>
        <div class="col-lg-3 position-relative mb-16">
          <div class="bg-felix"></div>
          <p class="font-shrikhand fs-4 position-absolute top-0 start-50 translate-middle-x mt-16">Felix</p>
        </div>
        <div class="col-lg-3 position-relative mb-16">
          <div class="bg-karina"></div>
          <p class="font-shrikhand fs-4 position-absolute top-0 start-50 translate-middle-x mt-16">Karina</p>
        </div>
        <div class="col-lg-3 position-relative mb-16">
          <div class="bg-vito"></div>
          <p class="font-shrikhand fs-4 position-absolute top-0 start-50 translate-middle-x mt-16">Vito</p>
        </div>
      </div>
    </div>

    <!-- 漸層橫條 -->
    <div class="banner-hr-top-bg my-16"></div>
    <!-- 標題 -->
    <div class="border-bottom pb-16">
      <h2 class=" fs-24 fs-lg-3 letter-spacing-100p">什麼是</h2>
      <h2 class=" fs-24 fs-lg-3 letter-spacing-100p">ALPHABOX+</h2>
    </div>
    <!-- 輪播圖 -->
    <div class="container-fluid position-relative my-32">
      <div class="container">
        <div class="swiper mySwiper row gx-0">
          <div class="swiper-wrapper">
            <div class="swiper-slide position-relative bg-intor">
              <!-- 桌面板 -->
              <div class="intor-text position-absolute top-50 end-0 translate-middle-y text-lg-end ms-16 me-lg-40 d-none d-lg-block">
                <p class="font-shrikhand fs-2 fs-lg-1">01</p>
                <p class=" fs-24 fs-lg-4 mb-16">立&emsp;體&emsp;投&emsp;影&emsp;技&emsp;術</p>
                <p class="">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
              <!-- 手機版 -->
              <div class="intor-text position-absolute top-50 translate-middle-y text-lg-end ms-16 me-lg-40 d-block d-lg-none">
                <p class="font-shrikhand fs-2 fs-lg-1">01</p>
                <p class=" fs-24 fs-lg-4 mb-16">立&emsp;體&emsp;投&emsp;影&emsp;技&emsp;術</p>
                <p class="">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
            </div>
            <div class="swiper-slide position-relative bg-intor">
              <!-- 桌面板 -->
              <div class="intor-text position-absolute top-50 end-0 translate-middle-y text-lg-end ms-16 me-lg-40 d-none d-lg-block">
                <p class="font-shrikhand fs-2 fs-lg-1">02</p>
                <p class=" fs-24 fs-lg-4 mb-16">立&emsp;體&emsp;投&emsp;影&emsp;技&emsp;術</p>
                <p class="">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
              <!-- 手機版 -->
              <div class="intor-text position-absolute top-50 translate-middle-y text-lg-end ms-16 me-lg-40 d-block d-lg-none">
                <p class="font-shrikhand fs-2 fs-lg-1">02</p>
                <p class=" fs-24 fs-lg-4 mb-16">立&emsp;體&emsp;投&emsp;影&emsp;技&emsp;術</p>
                <p class="">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
            </div>          
            <div class="swiper-slide position-relative bg-intor">
              <!-- 桌面板 -->
              <div class="intor-text position-absolute top-50 end-0 translate-middle-y text-lg-end ms-16 me-lg-40 d-none d-lg-block">
                <p class="font-shrikhand fs-2 fs-lg-1">03</p>
                <p class=" fs-24 fs-lg-4 mb-16">立&emsp;體&emsp;投&emsp;影&emsp;技&emsp;術</p>
                <p class="">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
              <!-- 手機版 -->
              <div class="intor-text position-absolute top-50 translate-middle-y text-lg-end ms-16 me-lg-40 d-block d-lg-none">
                <p class="font-shrikhand fs-2 fs-lg-1">03</p>
                <p class=" fs-24 fs-lg-4 mb-16">立&emsp;體&emsp;投&emsp;影&emsp;技&emsp;術</p>
                <p class="">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-intor-button-next position-absolute d-none d-xxxl-block">
        <img src="../assets/images/intor-arrow.png" alt="intor-arrow">
      </div>
      <div class="swiper-intor-button-prev position-absolute d-none d-xxxl-block">
        <img src="../assets/images/intor-arrow.png" alt="intor-arrow">
      </div>
    </div>
    <!-- 漸層橫條 -->
    <div class="banner-hr-bottom-bg my-16"></div>
  </div>
</div>