<footer class="container d-flex justify-content-between align-items-center my-48">
    <div>
        <h2 class="f-shrikhand fs-4">ALPHBOX+</h2>
        <p class="font-noto-sans fw-bold">Copyright © 2023 Hexschool.</p>
    </div>
    <img src="../assets/images/emergency-black.png" alt="">
    <ul class="d-flex justify-content-between list-unstyled fw-bold">
        <li class="me-24">
            <a class="text-dark" href="javascript:;">關於他們</a>
        </li>
        <li class="me-24">
            <a class="text-dark"  href="javascript:;">產品資訊</a>
        </li>
        <li class="me-24">
            <a class="text-dark"  href="javascript:;">常見問題</a>
        </li>
        <li>
            <a class="text-dark"  href="javascript:;">隱私政策</a>
        </li>
    </ul>
</footer>