<div class="fixed-top top-0 z-1000">
  <div class="navbar-border position-absolute bg-white start-0 end-0 bottom-0"></div>
  <nav class="navbar navbar-expand-lg py-16 bg-primary">
    <div class="container d-flex align-items-center justify-content-lg-start">
      <!-- LOGO -->
      <a class="navbar-brand font-shrikhand text-white font-italic p-0" href="index.html">ALPHABOX+</a>
      <!-- 下拉選單 -->
      <div class="navbar-dropdown position-lg-static position-absolute start-0 end-0 flex-lg-grow-1">
        <div class="collapse navbar-collapse navbar-bg" id="navbarSupportedContent">
          <!-- 中 -->
          <ul class="navbar-nav mx-lg-auto me-auto mb-8 mb-lg-0 gap-8 pt-16 pt-lg-0 gap-lg-16">
            <li class="nav-item">
              <a class="nav-link text-white text-center" aria-current="page" href="#">產品</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center" aria-current="page" href="about-us.html">關於我們</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="#">最新消息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="#">聯絡我們</a>
            </li>
          </ul>
          <!-- 右 -->
          <ul class="navbar-nav gap-8 pb-16 pb-lg-0 gap-lg-8">
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="#">註冊</a>
            </li>
            <li class="nav-item me-lg-8">
              <a class="nav-link text-white text-center" href="#">登入</a>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <a class="nav-link btn rounded-1 text-black text-center bg-white py-8 px-16" href="#">
                <i class="material-symbols-outlined align-bottom me-4">point_scan</i>
                訂閱
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 漢堡按鈕 -->
      <button class="navbar-toggler border-0 d-flex d-lg-none p-8" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="icon-custom">
          <span class="icon-line"></span>
          <span class="icon-line"></span>
          <span class="icon-line"></span>
        </div>
      </button>
    </div>
  </nav>
</div>